@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.name h2{
    /* outline: 1px solid teal; */
    width: 400px;
    height: 129px;
    font-size: 60px;
    top: 329px;
    left: 160px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    line-height: 80.32px;
    letter-spacing: -3%;
}
.about p{
    /* outline: 1px solid teal; */
    width: 580px;
    height: 111px;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    
    /* margin-top: 30px; */
    /* margin-right: 64px; */
    line-height: 37.44px;
    letter-spacing: -3%;
}
.section{
    max-width: 1120px;
    width: 1120px;
    height: 283.22px;
    /* outline: 1px solid teal; */
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 255px;
    margin-bottom: 113.78px;
}
.main{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 116.18px;
}