@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
header{
  margin-bottom: 200px;
  /* outline: 1px solid black; */
}
.header-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* outline: 1px solid green; */
}
.header-main-intro, .header-main-description{
  width: 342px;
  max-width: 100%;
  margin-left: 36px;
  margin-right:36px;
  /* outline: 1px solid red; */
}
.header-main-intro{
  margin-bottom: 68px;
  display: flex;
  align-items: center;
}
.header-main-description{
  margin-bottom: 100px;
}
.header-main-intro h1{
  /* outline: 1px solid yellow; */
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  letter-spacing: -3%;
  line-height: 58px;
}

.header-main-description p{
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  color: #606060;
  line-height:35px;
  letter-spacing: -3%;
  font-weight: normal;
  font-style: normal;
}
.wave{
  width: 80px;

}
.arrow-container img{
  width:15px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.fixed-github{
  width: 50px;
  margin-right: 18px;
  margin-bottom: 30px;
  position: fixed;
  bottom: 0;
  right: 0;

}
.tech-stack-container, .contact-container{
  width: 342px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.tech-stack-title h2, .contact-header h2{
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  letter-spacing: -3%;
  margin-bottom: 50px;
  text-align: center;
}
.tech-stack-icon-text-container{
  display: flex;
  width: 342px;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.icon-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-text img{
  width: 80px;
}
.icon-text p{
  margin-top: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: #606060;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-btn{
  width: 100%;
  background-color: #606c38;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
}
label{
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
}
.socials{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social p{
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
}
.socials-icon{
  width: 25px;
}

@media(min-width:900px){
  body{
    max-width: 1120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-main{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 116.18px;
    margin-top: 255px;
  }
    .header-main-intro{
      width: 360px;
    }
    .header-main-description{
     width: 580px;
    }
    .header-main-intro, .header-main-description{
      margin: 0;
    }
    .arrow-container{
      margin-left: 0;
      margin-bottom: 113px;
    }
    .tech-stack-container{
      max-width: 1120px;
      width: 100%;
    }
    .tech-stack-icon-text-container{
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1120px;
      width: 100%;

      gap:0;
    }
    .contact-container{
      width: 100%;
      max-width: 1120px;
      flex-direction: row;
      /* outline: 1px solid navy; */
    }
    .socials{
      width: 13%;
      flex-direction: column;
      justify-content: space-between;
    }
    .social{
      
      /* outline: 1px solid navy; */
      border-radius: 10px;
      border: 1px solid rgb(201, 201, 201);
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px 100px;
      gap: 8px;
    }
    form{
      width: 40%;
    }
}