@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    text-decoration: none;
    list-style: none;
    color: #181717;
    ;
    
}

.nav-link{
    display: flex;
    gap: 31.74px;
    


}
.nav{
    margin-top: 102px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid teal; */
    max-width: 1120px;
    width: 1120px;
    font-family: 'DM Sans', sans-serif;
    font-size: 21px;
    color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
}